@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #060709;
    --foreground: #ededed;
  }
}

body {
  /* color: var(--foreground);
  background: var(--background); */
  /* background-color: #ffffff;
  color: #000000; */
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

/* :root {
  --font-nunito: "Nunito", sans-serif;
  --font-kantumruy-pro: "Kantumruy Pro", sans-serif;
} */

/* Font utility classes */
.font-nunito {
  font-family: var(--font-nunito);
}

.font-kantumruy {
  font-family: var(--font-kantumruy-pro);
}

/* Khmer-specific styling if needed */
/* .font-kantumruy {
  font-feature-settings: "kern" 1;
  text-rendering: optimizeLegibility;
} */

/* Dark theme using the 'dark' class on <html> */
html.dark body {
  background-color: #060709;
  color: #f9fafb;
}

/* Optional: style other elements globally */
/* html.dark a {
  color: #93c5fd;
} */

#hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

textarea {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

textarea::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

/* Tailwind doesn't style scrollbars by default */
::-webkit-scrollbar {
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* not found page */
#four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* toast ui */
@keyframes slide-in {
  from {
    transform: translateX(120%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out;
}

/* toggle menu  */
@keyframes slide-up {
  from {
    transform: translateY(120%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-down {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(120%);
    opacity: 0;
  }
}

.animate-slide-up {
  animation: slide-up 0.2s ease-out forwards;
}

.animate-slide-down {
  animation: slide-down 0.2s ease-in forwards;
}
